/**{*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

body{
    background-color: #989898;
    color: #ffc9c9;
    font-family: "Tahoma", sans-serif ;
    font-size: 18px;
    line-height: normal;
    margin-left:100px;

}

h1{
    border-width: 60px;
    border-bottom: 3px black solid;
}

.clr{
    clear:both;
}

.box-1 p{
    background-color: #1d3030;
    border-left: 10px #400000 solid;
    background-blend-mode: hard-light;
}

.box-1 h1{
    font-family: "normal Tahoma", sans-serif;
    font-style: italic;
    text-decoration: black;
    text-transform: full-width;
}

.container{
    width: 80%;
    margin: auto;
    border:1px darkblue dot-dot-dash;
}

.categories{
    width: 80%;
    margin: auto;
    border:2px darkblue dashed;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
}

.categories h2{
    text-align: center;

}

.categories ul {
    list-style: square;
    list-style-images: url('images/dot.png');
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%
}

.my-form input[type="submit"] {
    margin: auto;
    background-color: #2b2b2b;
    color: white;
}

a{
    color:coral;
    margin:0px 10px 5px 10px;
    padding:5px;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}

a:visited{
    color: yellowgreen;
}

.block{
    padding: 10px;
}
.post{
    float:left;
    width:33.3%;
    border:1px solid;
    padding: 5px;
    box-sizing: border-box;
}

#main-block{
    margin-top: 10px;
    float:left;
    width:70%;
    border:1px solid;
    padding: 5px;
    box-sizing: border-box;
}

#sidebar{
    margin-top: 10px;
    float:right;
    width: 30%;
    background-color: #212121;
    color:whitesmoke;
    border:1px solid;
    padding: 5px;
    box-sizing: border-box;

}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url("images/bg_image.jpg")
}

.p-box h3{
    position: absolute;
    top:40px;
    right: 300px;
}

.fix-me {
    position: fixed;
    top: 400px;
    left: 20px;
}

.my-list{
    margin-right: 20%;
    margin-left: 20%;
}
.my-list li:first-child{
    background:red;

}

.my-list li:last-child{
    background:blue;

}

.my-list li:nth-child(3){
    background:green;

}

.my-list li:nth-child(even){
    color: black;
    background:white;

}